

@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

/******************MOBILE************************/

/************base styles**************/

html{

	font-size: 16px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}



body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
}

.container{
	max-width: 1200px;
	width: 90%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}

p {
	font-size: 1em;
	line-height: 21px;
    
}

ul {

	margin: 0;

}

/*The widths are in a percentage!*/
header {
	border-bottom: 3px solid #77a466;
	text-align: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}

header h1 {
	font-size: 1.875em;
	margin: 0;
	padding: 38px 20px 20px 20px;
	border-bottom: 3px solid #77a466;
	
}

header h1 span {
	color: #77a466;
}

header nav {
	padding: 20px 0;
	width: 100%;
}
header nav ul {
	margin: 0;
	padding: 0;
	
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .75em;
	padding: 10px;
	list-style: none;
	
}

header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
 {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	
}


.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
	display: flex;
	justify-content: center;
}


.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
	font-size: 1.125em;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	
border-top: 1px solid #eee;
width: 100%

}


.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.3125em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
}

/*The widths are in a percentage!*/
footer {
	border-top: 3px solid #eee;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}




footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: .90em;
}




/******************TABLET************************/

@media all and (min-width:768px) {


.bottom-section {

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
	border-top: 1px solid #eee;

}


.section-one,
.section-two,
.section-three {
	flex-basis: 30%;
	border-top: none;
	
}



.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	padding: 0px 20px;
}





/******************DESKTOP************************/

@media all and (min-width: 1200px)

{

header {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

header h1 {
	width: 30%;
	padding: 38px 0;
	border-bottom: none;
	text-align: left;

}

header nav {
	width: 50%

}
header nav ul {
display: flex;
justify-content: space-between;

}


}


