
/******************MOBILE************************/

/************base styles**************/

html{

	font-size: 16px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}


@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.container{
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 2.25em;
}
h2 {
    font-size: 2em;
}
h3 {
	font-size: 1.25em;
}
h4 {
	font-size: .75em;
}

p {
	font-size: 1em;
	line-height: 21px;
    padding: ;
}

/*The widths are in a percentage!*/
header {
	height: auto;
	border-bottom: 3px solid #77a466;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

header h1 {
	margin: 0;
	padding: 38px 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
header h1 span {
	color: #77a466;
}

header nav {
	padding: 46px 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
header nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .75em;
	padding: 10px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;

}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	width: 90%;
}

.main-image {
	height: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	width: 90%;
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
}
.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	width: 33%;
	height: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #eee;
}

.section-one h4 {
	padding: 10px 0;
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.section-two h4,
.section-three h4 {
	padding: 10px 30px;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	height: 50px;
	border-top: 3px solid #eee;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}




footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: .90em;
}




/******************TABLET************************/

@media all and (min-width:768px) { html{

	font-size: 16px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}


@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.container{
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 2.25em;
}
h2 {
    font-size: 2em;
}
h3 {
	font-size: 1.25em;
}
h4 {
	font-size: .75em;
}

p {
	font-size: 1em;
	line-height: 21px;
    padding: ;
}

/*The widths are in a percentage!*/
header {
	height: auto;
	border-bottom: 3px solid #77a466;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

header h1 {
	margin: 0;
	padding: 38px 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
header h1 span {
	color: #77a466;
}

header nav {
	padding: 46px 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
header nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .75em;
	padding: 10px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;

}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	width: 90%;
}

.main-image {
	height: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	width: 90%;
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
}
.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	width: 33%;
	height: auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #eee;
}

.section-one h4 {
	padding: 10px 0;
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.section-two h4,
.section-three h4 {
	padding: 10px 30px;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	height: 50px;
	border-top: 3px solid #eee;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}




footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: .90em;

}

}











/******************DESKTOP************************/

@media all and (min-width: 1200px)

{

html{

	font-size: 1em;
}


@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
}

.container{
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}

h1 {
	font-size: 2.25em;
}
h2 {
    font-size: 2em;
}
h3 {
	font-size: 1.25em;
}
h4 {
	font-size: .75em;
}

p {
	font-size: 1em;
	line-height: 21px;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	height: 110px;
	border-bottom: 3px solid #77a466;
	margin: 0 auto;
}

header h1 {
	float: left;
	margin: 0;
	padding: 38px 0;
}
header h1 span {
	color: #77a466;
}

header nav {
	float: right;
	padding: 46px 0;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .90em;
	padding: 0 10px;
	display: inline;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0 auto;
	clear: both;
}

.main-image {
	height: auto;
	float: left;
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
	float: left;
}
.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	width: 33%;
	height: auto;
	float: left;
	border-top: 1px solid #eee;
}

.section-one h4 {
	padding: 10px 0;
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.section-two h4,
.section-three h4 {
	padding: 10px 30px;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	height: 50px;
	border-top: 3px solid #eee;
	margin: 0 auto;
	clear: both;
	text-align: center;
}
footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: .90em;
}

}


